@use 'nav-scroll-spacer' as nav-scroll-spacer;

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  @media screen {
    padding-top: nav-scroll-spacer.$nav-height;
  }
}
